DB_HOST=127.0.0.1
DB_USER=todoly_app_user
DB_NAME=todoly
DB_PASSWORD=CHANGE_ME
DB_PORT=5432
PORT=3001
NODE_ENV=production
SECRET_SESSION=CHANGE_ME_LONG_RANDOM
CORS_ORIGINS=https://todoly.app,https://www.todoly.app
FIREBASE_STORAGE_BUCKET=
