@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables et Règles Générales */
:root {
  --overused-grotesk-trim-top: 0.1em;
  --overused-grotesk-trim-bottom: 0.2em;
  --overused-grotesk-line-height: 0.8;
}

:root {
  /* Couleurs de base */
  --color-primary: #fff;
  --color-background: #f7f4ed;
  --color-background-overlay: #f7f4ed;
  --color-dominant: #007aff;
  --color-secondary: #0d0c0c;
  --color-ternary: #a2cefe;
  --color-ternary-section-header: #a2cefe;
  --color-ternary-2: rgba(162, 206, 254, 0.5);
  --color-text: #0d0c0c;
  --color-important: #fa3766;
  --color-grey-1: #959595;
  --color-secondary-rgb: 13, 12, 12;
  --main-menu-bg: rgba(255, 255, 255, 0.25);

  /* Gradients */
  --gradient-1: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0),
    hsla(32, 53%, 58%, 0)
  );
  --gradient-2: linear-gradient(180deg, #007aff, #007aff 100%);
}

.theme-dark {
  --color-primary: #0d0c0c;
  --color-background: #020202;
  --color-background-overlay: rgba(13, 12, 12, 0.05);
  --color-dominant: #007aff;
  --color-secondary: #f7f4ed;
  --color-ternary: var(--color-primary);
  --color-ternary-section-header: var(--color-primary);
  --color-ternary-2: #0d0c0c;
  --color-text: #f7f4ed;
  --color-grey: #a8a8a8;
  --color-secondary-rgb: 247, 244, 237;
  --main-menu-bg: hsla(0, 4%, 5%, 1);
  --gradient-1: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 1),
    hsla(32, 53%, 58%, 0.35)
  );
  --gradient-2: linear-gradient(180deg, white -20%, #137ce5 100%);
}


.slick-slide,
.sclik-track,
.slick-list,
.slick-slider,
ul {
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in,
    width 0.3s ease-in, height 0.3s ease-in, max-width 0.3s ease-in,
    max-height 0.3s ease-in, min-width 0.3s ease-in, min-height 0.3s ease-in,
    padding 0.3s ease-in, margin 0.3s ease-in, top 0.3s ease-in,
    right 0.3s ease-in, bottom 0.3s ease-in, left 0.3s ease-in,
    transform 0.3s ease-in;
}

html {
  font-family: var(--font-overused-grotesk);
}

body {
  line-height: var(--overused-grotesk-line-height);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding-top: var(--overused-grotesk-trim-top);
  padding-bottom: var(--overused-grotesk-trim-bottom);
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit !important;
  text-decoration: none;
}

/* Classes Utilitaires */
.list-none {
  list-style: none;
}

.no-underline {
  text-decoration: none !important;
}

.resize-none {
  resize: none;
}

.caret-delete {
  caret-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Effets et Transitions */
.fade-out {
  opacity: 0;
  transition: opacity 800ms ease-in-out;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out, visibility 2s ease-in-out;
}

.text-gradient-black-to-purple {
  background: linear-gradient(black, rgba(234, 150, 255, 0.55));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-border {
  position: relative;
  z-index: 0;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: -1px; /* Ajustez selon l'épaisseur de bordure souhaitée */
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-image: var(--gradient-1);
  border-radius: inherit;
  z-index: -2;
}

.gradient-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-menu-bg);
  border-radius: inherit;
  z-index: -1;
}

.gap-iconsContainer {
  gap: clamp(0.8vw, 1vw, 3vw);
}

/* Composants de la mise en page */
.text-trim-adjust {
  display: inline-block;
  line-height: var(--overused-grotesk-line-height);
}

.fontMenu {
  font-size: clamp(0.25rem, 1vw + 0.1rem, 4rem);
}

.container {
  @apply flex justify-center items-center h-screen m-0 bg-gray-200;
  font-family: Arial, sans-serif;
}

.addMenuElement,
.task-menu-dropdown-menu {
  background-color: var(--main-menu-bg);
  position: relative;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: solid 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

/* Styles spécifiques aux éléments */
.input-number {
  -webkit-appearance: none;
  margin: 0;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number {
  -moz-appearance: textfield;
}

/* Classes personnalisées */
.custom-color-anchor {
  @apply text-dominant !important;
}

/* Styles pour scrollbars */
.scroll-custom {
  scrollbar-width: thin; /* Pour Firefox */
  scrollbar-color: #4b5563 #f3f4f6; /* Pour Firefox, couleur du thumb et du track */
}
::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border: 0.3vw solid var(--color-primary);
  border-radius: 100vw;
}

.scroll-custom::-webkit-scrollbar {
  width: 12px; /* Largeur de la scrollbar pour Chrome, Safari et Edge */
}

.scroll-custom::-webkit-scrollbar-track {
  background: transparent; /* Couleur du rail/track pour Chrome, Safari et Edge */
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Couleur du thumb pour Chrome, Safari et Edge */
  border-radius: 9999px; /* Border-radius du thumb */
  border: 3px solid transparent; /* Enlève le rail en simulant un border transparent */
  background-clip: content-box; /* Empêche le fond de déborder dans le border */
}

.scroll-hide {
  scrollbar-width: none; /* Pour Firefox */
}

.scroll-hide::-webkit-scrollbar {
  display: none; /* Pour WebKit (Chrome, Safari, etc.) */
}

/* Classes de transition et d'animation */
.fade-enter,
.fade-exit {
  opacity: 0;
  height: 0;
}

.fade-enter-active,
.fade-exit-active {
  opacity: 1;
  height: auto;
  transition: opacity 300ms, height 300ms;
}

.button-wrapper,
.item-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 1vw;
}

.button-wrapper::before,
.item-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 122, 255, 0.1);
  border-radius: 1vw;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 0;
}

.button-wrapper:hover::before,
.item-wrapper:hover::before {
  transform: scale(1.1);
  opacity: 1;
}

.button-wrapper > button,
.item-wrapper > button {
  position: relative;
  background: transparent;
  z-index: 1;
  border: none;
  outline: none;
}

/* Keyframes */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

@keyframes settings-hover {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(9deg);
  }
  30% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animations */
.animate-fade-in-out {
  animation: fadeInOut 5s ease-in-out;
}

.animate-settings-hover {
  animation: settings-hover 5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  animation-play-state: paused;
}

.animate-settings-hover:hover {
  animation-play-state: running;
}
